.places {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 450px) {
    .places {
        grid-template-columns: 1fr;
    }

    .forest {
        order: 1;
    }
    
    .forest-text {
        order: 2;
    }
    
    .mountains {
        order: 3;
    }

    .mountains-text {
        order: 4;
    }

    .black-sea {
        order: 5;
    }

    .black-sea-text {
        order: 6;
    }
}