.people__quote {
  max-width: 240px;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .people__quote {
    max-width: 200px;
  }
}

@media screen and (min-width: 2500px) {
  .people__quote {
    font-size: 14px;
    line-height: 1.8;
    quotes: none;
  }
}