.header__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 550px) {
  .header__link {
    font-size: 10px;
  }
}
