@media screen and (min-width: 2500px) {
    .people__pre-title {
        font-size: 18px;
        color: #fecda7;
        padding-top: 100px;
        margin: 0;
        text-transform: uppercase;
    }
}