.people__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0 0 70px 0;
    gap: 40px;
}

@media screen and (max-width: 900px) {
    .people__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .people__list {
        grid-template-columns: 1fr;
        margin: 20px;
    }
}