.intro {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 147px 210px;
  max-width: 1145px;
  margin: 0 auto;
  padding: 84px 0 130px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 60px 0 100px;
    max-width: 550px;
  }
}
