.people {
  display: flex;
  flex-direction: column;
  padding: 130px 0;
  max-width: 1145px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .people {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .people {
    max-width: 550px;
    padding: 100px 0;
  }
}

@media screen and (max-width: 550px) {
  .people {
    max-width: 300px;
    padding: 60px 0;
  }
}
