.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 620px;
  width: 100%;
  background-color: rgb(254, 205, 167);
}

@media screen and (max-width: 1024px) {
  .footer {
    min-height: 400px;
  }
}
